extends index 

block content
    script(src="/javascripts/edit-all-projects.js" defer)
    script(src='/sortablejs/Sortable.js' defer)
    script(src='/javascripts/sortable.js' defer)
    
    - const parsedData = JSON.parse(data);
    
    div#all-projects-page-container
        h1=title 

        ul#all-projects-container
            each project in parsedData
                li                    
                    div.single-project-container
                        div
                            h2= project.client_name
                            h3= project.project_name
                        a.admin-edit(href=`./add-project/${project.slug}`) Edit this project

                        a.admin-view(href=`/portfolio/${project.slug}`) View live version

                        button.show-delete-project-dialog-button(type="button" data-id=project.project_id data-slug=project.slug) Delete this project

        div#all-projects-popup.hidden   

