extends layout

block content
    //- See commment in index.js. Here we are parsing the data that was passed from the server. If we would try to display this as an object, Pug would render it [Object object]. But instead we are accessing each piece of data on its own inside our for each loop, which produces the desired result.
    - const parsedData = JSON.parse(data)


    div#home-main-section
        img#home-left-dots(src="/svg/home-left-dots-desktop.svg")
        div#home-main-content-container

            div#home-main-content-info

                h1#home-main-info-header Meir <br> Unger
                h4#home-main-info-subheader Creative Soul
                p#home-main-info-tagline I create visuals that sell it like it is. They help brands and products make sense.  And dollars.

                a#home-main-info-button(href="./portfolio") For Example

            img#home-profile-img(src="/images/profile.png")

    div#home-projects-section
        div#home-projects-content-container 

            h3#home-projects-section-header Recently Wrapped 

            each project in parsedData
                a.home-projects-single.container(href=`./portfolio/${project.slug}`)
                    //- div
                    - const mobileURL = generateFileURL.mobileCover(project);
                    - const desktopURL = generateFileURL.desktopCover(project);

                    h4.home-projects-single-header= project.project_name
                    div.home-projects-single-img-container
                        picture.mobile
                                source(data-srcset=mobileURL media="(max-width: 700px)")
                                img.home-projects-single-image.lazyload(data-src=mobileURL alt=project.project_name title=project.project_name)
                    div.home-projects-single-img-container
                        picture.desktop
                            source(data-srcset=desktopURL media="(min-width: 700px)")
                            img.home-projects-single-image.lazyload(data-src=desktopURL alt=project.project_name title=project.project_name)