doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/font/font.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        link(rel='stylesheet' href='/stylesheets/home.css')
        script(src='/lazysizes/lazysizes.min.js')
        script(src="https://kit.fontawesome.com/f383a529e7.js" crossorigin="anonymous")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon//favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon//favicon-16x16.png")
        link(rel="manifest" href="/images/favicon//site.webmanifest")
        meta(name="theme-color" content="#2e2d2c")

    body
        script(src="/javascripts/utils.js")
        script(src='/javascripts/mobile-nav.js' defer)
        nav#mobile-nav
            //- img#nav-svg-dots(src="/svg/nav-dots.svg")

            //- Special regex to determine based on path if the current page is a single project page, i.e. if there are any characters after the second slash in /portfolio/.
            -
                const regex = /\/portfolio\/.+/;
                const logoHref = regex.test(path) === true ? '/portfolio' : '/'

            img#nav-mobile-menu-icon(src="/svg/nav-mobile-icon.svg")
            a(href=logoHref)
                img#nav-logo(src="/svg/logo.svg")
            div#nav-mobile-overlay.hidden.overlay-fade-out
                div#nav-mobile-options-container.hidden
                    span#nav-mobile-exit-icon.fas.fa-times
                    ul
                        li 
                            a.nav-mobile-option-single(href="/") Home
                        li 
                            a.nav-mobile-option-single(href="/portfolio") Work
                        li 
                            a.nav-mobile-option-single(href="/about") About
                        li 
                            a.nav-mobile-option-single(href="/contact") Contact

        nav#desktop-nav
            ul 
                - // render first link differently depending on if we are on homepage or not
                    li
                        a(href=`${path === '/' ? '/portfolio' : '/'}`) #{path === '/' ? 'Work' : 'Home'}
                
                    li 
                        a(href='/about') About

                    li 
                        a(href='/contact') Contact

            - // give special class for nav dots when not on the homepage
            - const classList = path === '/' ? '' : 'position-top';
            img#nav-svg-dots(src="/svg/nav-dots-desktop.svg" class=classList)
            //- Render the logo link differently depending on what page we are on. If we are on a single project page, return to portfolio page. Else, return to home.

            a(href=logoHref)
                img#nav-logo(src="/svg/logo.svg")
        block content

        footer
            //- Container created to enable uniform margin setup on 1500px+ screen size
            div#footer-content-container
                img#footer-logo(src="/svg/logo.svg")

                div#footer-contact-container
                    div#footer-contact-phone: a(href="tel:+3476640203") 347-664-0203
                    div#footer-contact-email: a(href="mailto:meir@meirunger.com") meir@meirunger.com
                
                - const year = new Date().getFullYear();
                div#footer-copyright-container-mobile &copy; #{year} Meir Unger &#183; Built by #[a(href="https://d7m.tg?utm_source=meirunger&utm_medium=web&utm_campaign=feb22" target="_blank") D7mtg] &#183; All Rights Reserved
                
                div#footer-copyright-desktop &copy; #{year} Meir Unger &#183; All Rights Reserved
                div#footer-creators-desktop Built by #[a(href="https://d7m.tg?utm_source=meirunger&utm_medium=web&utm_campaign=feb22" target="_blank") D7mtg]