doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/font/font.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        link(rel='stylesheet' href='/stylesheets/nav.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        link(rel='stylesheet' href='/stylesheets/home.css')
        script(src="https://kit.fontawesome.com/f383a529e7.js" crossorigin="anonymous")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    body
        script(src="/javascripts/utils.js" defer)
        script(src='/javascripts/mobile-nav.js' defer)
        nav#mobile-nav
            //- img#nav-svg-dots(src="/svg/nav-dots.svg")

            img#nav-mobile-menu-icon(src="/svg/nav-mobile-icon.svg")
            img#nav-logo(src="/svg/logo.svg")
            div#nav-mobile-overlay.hidden
                div#nav-mobile-options-container
                    span#nav-mobile-exit-icon.fas.fa-times
                    ul
                        li 
                            a.nav-mobile-option-single(href="/") Home
                        li 
                            a.nav-mobile-option-single(href="/portfolio") Work
                        li 
                            a.nav-mobile-option-single(href="/about") About
                        li 
                            a.nav-mobile-option-single(href="/contact") Contact

        nav#desktop-nav
            ul 
                - // render first link differently depending on if we are on homepage or not
                    li
                        a(href=`${path === '/' ? '/portfolio' : '/'}`) #{path === '/' ? 'Work' : 'Home'}
                
                    li 
                        a(href='/about') About

                    li 
                        a(href='/contact') Contact

            - // give special class for nav dots when not on the homepage
            - const classList = path === '/' ? '' : 'position-top';
            img#nav-svg-dots(src="/svg/nav-dots-desktop.svg" class=classList)
            img#nav-logo(src="/svg/logo.svg")
        block content

        footer
            img#footer-logo(src="/svg/logo.svg")

            div#footer-contact-container
                div#footer-contact-phone 347-664-0203
                div#footer-contact-email meir@meirunger.com
            
            - const year = new Date().getFullYear();
            div#footer-copyright-container-mobile &copy; #{year} Meir Unger &#183; Built by D7mtg &#183; All Rights Reserved
            
            div#footer-copyright-desktop &copy; #{year} Meir Unger &#183; All Rights Reserved
            div#footer-creators-desktop Built by D7mtg