extends layout 
mixin project-category-display(projects)
    div.portfolio-projects-container(class!=attributes.class)
        each project in projects
            a.portfolio-single-project(href=`/portfolio/${project.slug}`)
                h4.portfolio-single-header= project.project_name
                - const mobileURL = generateFileURL.mobileCover(project);
                - const desktopURL = generateFileURL.desktopCover(project);
                div.portfolio-projects-single-img-container
                    picture.mobile
                        source(data-srcset=mobileURL media="(max-width: 700px)")
                        img.portfolio-single-image.lazyload(data-src=mobileURL alt=project.project_name title=project.project_name)
                div.portfolio-projects-single-img-container
                    picture.desktop
                        source(data-srcset=desktopURL media="(min-width: 700px)")
                        img.portfolio-single-image.lazyload(data-src=desktopURL alt=project.project_name title=project.project_name)



block content
    link(rel="stylesheet", href="/stylesheets/portfolio.css")

    script(src="/javascripts/portfolio-types.js" defer)
    -
        const parsedData = JSON.parse(data);
        //- console.log(parsedData)
        const brandingProjects = parsedData.filter(p => p.type === 'Branding')
        const campaignsProjects = parsedData.filter(p => p.type === 'Campaigns')
        const videosProjects = parsedData.filter(p => p.type === 'Videos')
    

    div#portfolio-section
        //- See css for why we use extra container 
        div#portfolio-content-container 
            h2#portfolio-header Drawn from my soul
            h4#portfolio-subheader Every piece of work is my best one to date.

            div#portfolio-tabs-container 
                input.portfolio-input-tab#branding(type="radio" name="portfolio-tabs" value="branding" checked)
                label.portfolio-single-tab(for="branding")  Branding
                
                input.portfolio-input-tab#campaigns(type="radio" name="portfolio-tabs" value="campaigns")
                label.portfolio-single-tab(for="campaigns") Campaigns
                
                input.portfolio-input-tab#videos(type="radio" name="portfolio-tabs" value="videos")
                label.portfolio-single-tab(for="videos") Videos

                div#tab-background
            

            +project-category-display(brandingProjects)(class="branding")
            +project-category-display(campaignsProjects)(class="campaigns hidden-fade hidden")
            +project-category-display(videosProjects)(class="videos hidden-fade hidden")
