extends layout

block content
    link(rel="stylesheet" href="/stylesheets/single-project.css")
    script(type='text/javascript' src="/javascripts/popup.js" defer)

    div#single-project-section

        div#single-project-content-container

            h2#single-project-header=data.project_name  
            h4#single-project-subheader=data.description

            p#client-name= 'Created for: ' + data.client_name
            p#date-completed= 'Completed on: ' + data.date_completed
            

            - data.credits = JSON.parse(data.credits);
            div#project-credits-button Project Credits 
                div#project-credits-popup.hidden-transition
                    span#credits-exit-icon &#10006;
                    div#arrow
                    each val, key in data.credits
                        p#credit= key + ': ' + val

            -
                //- Create one array each for mobile and desktop inside media URLs, using generateFileURL algo
                data.mobile_inside_media = JSON.parse(data.mobile_inside_media)
                const mobileURLs = [];
                data.mobile_inside_media.forEach((fileName) => {
                    mobileURLs.push(generateFileURL.insideMedia(data.slug, fileName) );
                });
                data.desktop_inside_media = JSON.parse(data.desktop_inside_media)
                const desktopURLs = [];
                data.desktop_inside_media.forEach((fileName) => {
                    desktopURLs.push(generateFileURL.insideMedia(data.slug, fileName) );
                })
                console.log('mobile urls', mobileURLs)

            //- Note that we are rendering images inside a picture element. This will save bandwidth and only render the image on the correct screen size (< or > 700px). Unfortunately, this doesn't seem to work for video elements. Either way, the media will only display if it is the right screen size, based on our global classes 'mobile' and 'desktop'.
            each url in mobileURLs
                - const ext = extname(url)
                if constants.allowedImageTypes.includes(ext)
                    picture.single-project-inside-media.mobile
                        source(srcset=url media="(max-width: 700px)")
                        img(src="")

                else if constants.allowedVideoTypes.includes(extname(url) )
                    div.single-project-inside-media.mobile
                        video(controls)
                            source(src=url type=`video/${ext.replace('.', '')}`)

            each url in desktopURLs
                - const ext = extname(url)
                if constants.allowedImageTypes.includes(ext)
                    picture.single-project-inside-media.desktop
                        source(srcset=url media="(min-width: 700px)")
                        img(src="")

                else if constants.allowedVideoTypes.includes(extname(url) )
                    div.single-project-inside-media.desktop
                        video(controls)
                            source(src=url type=`video/${ext.replace('.', '')}`)
