-
    const desktopInsideMedia = data.desktop_inside_media ? JSON.parse(data.desktop_inside_media) : [];
    //- console.log(desktopInsideMedia)
    const allowedMediaTypes = constants.allowedImageTypes.concat(constants.allowedVideoTypes)

div.add-project-input-section#desktop-inside-media-div
    h3.input-section-header Desktop Inside Media
    div#all-desktop-inside-media-container
        if desktopInsideMedia.length
            h4 Saved Media
            div#saved-desktop-inside-media
                each file in desktopInsideMedia
                    - const ext = extname(file);
                    if constants.allowedImageTypes.includes(ext)
                        div.single-desktop-inside-media.saved-image(data-file=file)
                            span.inside-media-delete.saved-image-delete(data-file=file) Delete This Media From Project
                            img.inside-media-preview.preview-image(src=generateFileURL.insideMedia(data.slug, file))
                    else 
                        div.single-desktop-inside-media.saved-image(data-file=file)
                            span.inside-media-delete.saved-image-delete(data-file=file) Delete Media From This Project
                            video.inside-media-preview.preview-image(src=generateFileURL.insideMedia(data.slug, file) controls)
                            
            div.inside-media-divider
        
        h4 Add Media
        input#desktop-inside-media-input(type="file" name="single-desktop-inside-media" accept=allowedMediaTypes.join(', ') multiple required=!data.desktop_inside_media)