- const mobileInsideMedia = data.mobile_inside_media ? JSON.parse(data.mobile_inside_media) : [];
//- - console.log(mobileInsideMedia)

div.add-project-input-section#mobile-inside-media-div
    h3.input-section-header Mobile Inside Media
    div#all-mobile-inside-media-container
        
        if mobileInsideMedia.length
            h4 Saved Media
            div#saved-mobile-inside-media
                each file in mobileInsideMedia
                    - const ext = extname(file);
                    if constants.allowedImageTypes.includes(ext)
                        div.single-mobile-inside-media.saved-image(data-file=file)
                            span.inside-media-delete.saved-image-delete(data-file=file) Delete Media From This Project
                            img.inside-media-preview.preview-image(src=generateFileURL.insideMedia(data.slug, file) )
                    
                    else 
                        div.single-mobile-inside-media.saved-image(data-file=file)
                            span.inside-media-delete.saved-image-delete(data-file=file) Delete Media From This Project
                            video.inside-media-preview.preview-image(src=generateFileURL.insideMedia(data.slug, file) controls)
                
                div.inside-media-divider

        h4 Add Media
        input#mobile-inside-media-input(type="file" name="single-mobile-inside-media" accept=allowedMediaTypes.join(', ') multiple required=!data.mobile_inside_media)